#root {
    display: flex;
    justify-content: center;
}

.folderView {
    width: 500px;
    margin: 100px;
    border-radius: 10px;
    box-shadow: 0 5px 17px 4px #777;
}

ul {
    list-style-type: none;
}
.folder_icon {
    color: #EDBC0B;
}
.insert_drive_file_icon {
    color: #B0B0B0;
}
.closed {
    display: none;
}

.tree_element:hover {
    cursor: pointer;
    background-color: #E0F4FF;
}

body {
    margin:0;
    font-family:"Open Sans",sans-serif;
}
#context-menu {
    position:absolute;
    z-index:10000;
    width:150px;
    background:#1b1a1a;
    border-radius:5px;
    transform:scale(0);
    transform-origin:top left;
}
#context-menu.active {
    transform:scale(1);
    transition:transform 300ms ease-in-out;
}
#context-menu .item {
    padding:8px 10px;
    font-size:15px;
    color:#eee;
    background: none;
    width: 100%;
}
#context-menu .item:hover:enabled {
    background:#555;
    cursor: pointer;
}

#context-menu .item i {
    display:inline-block;
    margin-right:5px;
}
#context-menu hr {
    margin:2px 0px;
    border-color:#555;
}
