body {
    font-family: "Roboto", sans-serif;
}

h6 {
    font-weight: bold;
}

.first-section {
    background-color: #343A40;
    color: white;
}

.second-section {
    background-color: #F8F9FA;
}

.navbar a {
    color: black;
}

.btn {
    background-color: #FF7F50;
    border: none;
    color: white;
}

.footer {
    background-color: #343A40;
    color: white;
}