.header-wrap {
  background-image: url("../img/m-h-day.jpg");
  background-position-y: -310px;
  background-repeat: no-repeat;
  background-size: cover; }

body {
  margin: 0;
  background-color: #FFFFFF; }

.header-wrap {
  padding-left: 120px;
  font-family: 'Source Sans Pro', sans-serif;
  border-radius: 0 0 40% 0;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-content: center; }
  .header-wrap .landing-logo {
    font-family: "Source Sans Pro", sans-serif;
    color: #2C2F3C;
    display: flex;
    align-items: center; }
    .header-wrap .landing-logo img {
      display: block;
      width: 25px; }
    .header-wrap .landing-logo p {
      margin-left: 10px;
      font-weight: bold;
      display: inline;
      font-size: 11px; }
      .header-wrap .landing-logo p span {
        display: block;
        font-weight: normal;
        font-size: 6px;
        text-align: center; }
  .header-wrap .header_heading:before {
    float: right;
    width: calc(100% - 10em);
    height: 1em;
    content: ''; }
  .header-wrap .header_heading {
    z-index: 1;
    color: #2C2F3C;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    position: relative; }
    .header-wrap .header_heading:after {
      position: relative;
      display: inline-block;
      background-color: #14A0C7;
      content: "";
      width: 126px;
      height: 20px;
      margin-bottom: -4px;
      margin-left: -207px;
      z-index: -1; }
  .header-wrap .header_text {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    color: #2C2F3C;
    white-space: pre-wrap;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: -22px; }
  .header-wrap div:last-child {
    padding-bottom: 100px; }
    .header-wrap div:last-child a {
      margin-left: 120px; }
    .header-wrap div:last-child a:link {
      color: white; }
    .header-wrap div:last-child button {
      background-color: #699900;
      color: white;
      width: 100px;
      height: 40px;
      border-radius: 2px;
      border: none; }

.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .section .section_text {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: #2C2F3C;
    z-index: 1; }
    .section .section_text:before {
      position: absolute;
      display: inline-block;
      background-color: #14A0C7;
      content: "";
      width: 129px;
      height: 31px;
      margin-left: 153px;
      z-index: -1; }
  .section .section_card {
    background-color: #21232E;
    margin-bottom: 20px;
    color: white;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 900px;
    height: 280px; }
    .section .section_card .section_card_img {
      align-self: center;
      margin-left: -40px;
      border-radius: 3px;
      height: 250px;
      object-fit: contain; }
    .section .section_card .section_card_right_container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      color: ghostwhite; }
      .section .section_card .section_card_right_container .section_card_heading {
        display: flex;
        justify-content: center;
        font-weight: bold;
        font-size: 20px; }
      .section .section_card .section_card_right_container .section_card_text {
        font-family: "Source Sans Pro", sans-serif;
        display: block;
        width: 330px; }
      .section .section_card .section_card_right_container a:link {
        display: block;
        color: white; }
      .section .section_card .section_card_right_container p, .section .section_card .section_card_right_container a {
        display: block; }
  .section .section_banner {
    background: linear-gradient(90deg, #659511 44%, #2456d2 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 1150px;
    height: 150px;
    z-index: 1;
    color: #2C2F3C;
    margin-bottom: -80px; }
    .section .section_banner .section_banner_text_wrap {
      padding-bottom: 40px; }
      .section .section_banner .section_banner_text_wrap .section_banner_heading {
        font-weight: 700;
        font-size: 30px;
        font-family: 'Hind', sans-serif; }
        .section .section_banner .section_banner_text_wrap .section_banner_heading:before {
          position: absolute;
          display: inline-block;
          background-color: #14A0C7;
          content: "";
          width: 64px;
          height: 40px;
          margin-top: -7px;
          margin-left: 125px;
          z-index: -1; }
      .section .section_banner .section_banner_text_wrap .section_banner_text {
        color: white;
        font-family: "Source Sans Pro", sans-serif; }
    .section .section_banner .section_banner_button {
      background-color: #699900;
      color: white;
      width: 100px;
      height: 40px;
      border-radius: 2px;
      border: none; }

.footer-wrap {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #21232E;
  color: #C0C3CE;
  z-index: 0;
  padding-top: 100px;
  width: 100%; }
  .footer-wrap .footer_logo p {
    display: inline-block;
    font-weight: bold;
    font-size: 30px; }
    .footer-wrap .footer_logo p span {
      display: block;
      margin-top: 5px;
      font-weight: normal;
      font-size: 10px;
      text-align: center; }
  .footer-wrap .footer_text {
    width: 300px; }
