body, p {
    margin: 0;
    padding: 0;
}

.header-wrapper, .section-wrapper {
    max-width: 1140px;
    width: 100%;
}

.header {
    background-color: #0B013C;
    height: 100vh;
    display: flex;
    justify-content: center;
}


.header-wrapper {
    background: url("../img/header-bg.png") no-repeat center;
    background-size: cover;
    height: 100%;
    color: white;
}

.header-content {
    margin-top: 100px;
}

.logo {
    font-size: 25px;
    border: 2px solid white;
    display: inline-block;
    margin-top: 20px;
    padding: 2px 4px 2px 4px;
    font-family: "Roboto Light", sans-serif;
}

.header-content-heading {
    font-size: 70px;
    font-family: "Roboto Light", sans-serif;
    font-weight: bold;
    margin-bottom: 22px;
}

.header-content-subheading {
    font-family: "Roboto Light", sans-serif;
    font-size: 22px;
    margin-bottom: 25px;
}

.header-content-text {
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    width: 430px;
    margin-bottom: 33px;
}

input {
    width: 377px;
    height: 35px;
}

input::placeholder {
    padding-left: 6px;
}


button {
    width: 95px;
    height: 40px;
    background-color: #f8cb8a;
    border: none;
    margin-left: 10px;
}

button:hover {
    background-color: #f6bb66;
    cursor: pointer;
}

.left-side > img {
    width: 100%;
    height: 100%;
}

.card > img {
    width: 100px;
    height: 100px;
}

.section-main {
    background-color: #fefaf3;
    display: flex;
    justify-content: center;
}

.section-header {
    font-family: "Roboto Light", sans-serif;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.section-main .section-header {
    margin-top: 110px;
}

.section-main h1 {
    color: #0B013C;
}

.section-subheading {
    font-size: 22px;
    font-family: "Roboto Light", sans-serif;
}

.section-heading {
    font-size: 42px;
    font-weight: bold;
    font-family: "Roboto Light", sans-serif;
}

.section-header > .section-text {
    width: 880px;
    text-align: center;
}

.section-text {
    font-style: italic;
    font-family: "Open Sans", sans-serif;
}

.section-main .section-text {
    color: #808080;
}

.section-center {
    background-color: white;
    display: flex;
    flex-direction: row;
    height: 530px;
}

.section-bottom {
    display: flex;
    justify-content: space-between;
}

.card {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-basis: 45%;
    margin-bottom: 60px;
    margin-top: 70px;
    padding-bottom: 10px;
}
.card .section-text {
    margin: auto 0;
}

.card > img {
    object-fit: cover;
    height: 80%;
    width: 100%;
}

.left-side {
    flex-basis: 70%;
}
.right-side {
    margin-left: 17px;
    margin-top: 36px;
    flex-basis: 30%;
}

.section-secondary {
    background-image: url("../img/space-bg.png");
    background-color: #0B013C;
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.section-secondary .section-header {
    color: white;
}

.footer-wrapper {
    display:flex;
    justify-content: space-around;
    width: 100%;
}

.footer {
    background-image: url("../img/footer-bg.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    color: white;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
}

.address p {
    margin-bottom: 2px;
}

h1 {
    font-family: "Roboto Light", sans-serif;
}

a {
    color: white;
}

h1 {
    display: inline-block;
}

main h1::after
{
    content: '';
    border-bottom: 10px solid #F8CB8A;
    width: 100px;
    height: 20px;
    display: block;
    margin: 0 auto;
}

.section-center h1::after {
    margin: auto 0;
}

.section-secondary span {
    display: block;
    text-align: center;
}
