:root {
    --rgb-blue: rgb(118, 205, 216);
    --light-blue: #76CDD8;
}

.tm-bg-color-primary {
    background-color: var(--light-blue);
}
.btn {
    background-color: #019999;
    border: 0;
}

.tm-col-md-reverse {
    flex-flow: row-reverse;
}

.tm-pricing-table {
    border: 1px solid #019999;
    margin: 20px;
}

.tm-pricing-table:hover {
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

section[class$="tm-mb-30"] {
    margin-bottom: 30px;
    margin-top: 30px;
}

.tm-contact-form:focus {
    border-color: #24d4d4;
    box-shadow: 0 0 0 0.2rem #24d4d4;
}

.tm-contact-form {
    z-index: 1;
}

.tm-form-footer {
    margin-top: -60px;
    z-index: 0;
}

.tm-form-header {
    margin-bottom: -60px;
    z-index: 0;
}

.tm-contact-form button:hover {
    background-color: var(--rgb-blue);
}

.tm-pricing-discount__star {
    color: red;
}

.tm-pricing-discount__text {
    color: var(--light-blue);
}

.tm-pricing-body:hover > .tm-pricing-discount{
    display: inline;
}

.tm-pricing-table div:first-child {
    background-color: #019999;
}

.tm-flex-col:hover {
    color: var(--light-blue);
}

.btn-primary:hover {
    background-color: var(--rgb-blue);
}

.tm-pricing-table:hover .btn-secondary {
    background: #24d4d4;
}

.tm-quote:hover {
    color: var(--light-blue);
}

.tm-form-footer {
    background-color: #019999;
}

.tm-form-header {
    background-color: #23D4D4;
}

.tm-flex-center > .tm-quote {
    font-style: italic;
}

.tm-md-flex-center > h2{
    color: var(--light-blue);
}

.tm-card div:last-child:hover::after {
    top: 0;
    right: 0;
    position: absolute;
    width: 10px;
    height: 20px;
    border-left: 90px solid transparent;
    border-top: 90px solid var(--light-blue);
    content: "";
}

.tm-col-md-reverse div:last-child:hover::after {
    left: 0;
    border-left: none;
    border-right: 90px solid transparent;
}

img {
    transition: all .2s ease-in-out;
}

img:hover {
    transform: scale(1.1);
}


