body, p {
    margin: 0;
}

* {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

.logo span {
    color: #1D3356;
}

.logo {
    color: white;
    font-size: 30px;
    margin: auto 30px;
    cursor: pointer;
}

.logo:hover {
    opacity: 0.5;
}

.header {
    background-color: #99ccff;
    display: flex;
    justify-content: space-between;
}

.navigation {
    display: flex;
    height: 100%;
}

.navigation-burger {
    display: none;
    text-decoration: none;
    color: white;
}

.navigation ul {
    margin: 0;
}

.navigation li {
    display: inline-block;
    padding: 20px;
}

.navigation li:hover {
    background-color: #6286B7;
    cursor: pointer;
}

.navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px 37px;
    height: 100%;
}

.blog-header {
    background-image: url("../img/section1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 474px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-top: 20px;
}

.main-content-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 15px 40px;
}

.post-wrapper {
    flex-basis: 55%;
}

.news-wrapper {
    flex-basis: 35%;

}

.post-wrapper img {
    width: 50%;
    height: 100%;
}

.news-wrapper img {
    width: 100%;
    height: 50%;
}

.post {
    display: flex;
}

.post:nth-child(odd) {
    text-align: left;
}

.post:nth-child(odd):after {
    content: "07 mar";
    font-weight: 100;
    text-align: right;
    margin-top: 25px;
    margin-right: 15px;
    font-size: 30px;
}

.post:nth-child(3):after {
    content: "04 mar";
}

.post:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
    background-color: #99ccff;
}

.post:nth-child(even):after {
    content: "06 mar";
    font-weight: 100;
    text-align: left;
    margin-top: 25px;
    margin-left: 15px;
    font-size: 30px;
}

.post:nth-child(4):after {
    content: "01 mar";
}

.post-content:hover, .post:hover:after, .news-content:hover{
    opacity: 0.3;
}

.post-1 {
    background: #F3D250;
}
.post-2 {
    background: #8D8741;
}
.post-3 {
    background: #659DBD;
}
.post-4 {
    background: #DAAD86;
}

.news {
    border: 1px solid blue;
}

.news {
    margin-bottom: 20px;
}


.text {
    font-weight: 300;
    line-height: 1.3;
    font-size: 14px;
    display: inline;
}

.news-content .text {
    margin-bottom: 30px;
}

.news-content {
    margin: 30px;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 7px;
    display: block;
    margin-top: 20px;
}

.button:hover {
    border: none;
    border-bottom: 2px solid black;
}

.footer {
    background-color: #162B4D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    /*height: 100px;*/
    padding: 30px 50px;
}

.footer div p:first-of-type {
    margin-bottom: 10px;
}

@media only screen and (max-width: 1279px){
    .header {
        flex-direction: column-reverse;
        align-items: center;
        padding: 30px 0;
    }

    .logo {
        margin-top: 40px;
    }

    .navigation {
        display: none;
    }

    .navigation-burger {
        display: block;
    }

    .post {
        flex-direction: column;
    }

    .post img {
        width: 100%;
    }

    .post:nth-child(even) {
        flex-direction: column;
    }

    .post-content {
        text-align: center;
        width: 100%;
    }

    .post:nth-child(even):after, .post:nth-child(odd):after {
        text-align: center;
    }

    .button {
        margin-top: 20px;
    }

    .footer {
        padding-top: 70px;
        flex-direction: column;
    }

    .footer div {
        padding-bottom: 20px;
    }

    .footer p {
        text-align: center;
    }
}

@media only screen and (max-width: 767px){
    .main-content-wrapper {
        flex-direction: column;
        margin: 15px 10px;
    }

}
