.hidden {
    display: none;
}

body {
    margin: 0;
}
.outer {
    position: absolute;
    background-color: coral;
    height: 50%;
    width: 50%;
    margin: auto 0;
    display: flex;
}

#game_starting {
    align-items: center;
    justify-content: center;
}

button {
    cursor: pointer;
}

button:hover:enabled {
    background-color: black;
    color: white;
}

.top {
    display: flex;
    justify-content: space-between;
}

.top .btn {
    padding: 10px;
}

.question {
    text-align: center;
}

.question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question-variants {
    display: flex;
}

.variant {
    height: 70px;
    border-radius: 7px;
    margin: 10px;
    font-weight: 700;
}

.results {
    font-weight: 700;
    align-self: flex-start;
}

.results span {
    color: red;
}

.end-message{
    color: red;
    text-align: center;
}