/* START: Task 1 Styles */
#task1, #task2, #task3 {
  display: flex;
  justify-content: center;
}
table, td {
  border: 1px solid black;
}

td {
  padding: 50px;
}

#task2 {
  margin-top: 100px;
}

#number {
  width: 292px;
  height: 41px;
  padding-left: 10px;
}

.validator {
  width: 380px;
  height: 100px;
}

#button:hover {
  cursor: pointer;
}

#button {
  height: 44px;
  width: 58px;
  margin-left: 10px;
}

#notification-text {
  color: white;
  margin-left: 10px;
}

#notification-block {
  margin-bottom: 15px;
  height: 63px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hidden {
  visibility: hidden;
}
/* END: Task 1 Styles */

/* START: Task 2 Styles */
.validator > .success {
  background-color: green;
}

.form > .success {
  border: 1px solid green;
}

.validator > .failure  {
  background-color: red;
}

.form > .failure {
  border: 1px solid red;
}

/* END: Task 2 Styles */

/* START: Task 3 Styles */
#task3 {
  margin-top: 100px;
}

.court-block {
  position: relative;
}

.court {
  width: 600px;
  height: 330px;
  position: relative;
}

.ball {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 840px;
  left: 656px;
  z-index: 10;
}

.goal {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 157px;
  left: 31px;
  opacity: 0;
}

#goal-a {
  left:552px;
}

.scores {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.scores > p {
  margin: 0;
  font-size: 13px;
}

#message {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  display: none;
}

/* END: Task 3 Styles */
