@mixin button {
    background-color: map-get($colors, "button");
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 2px;
    border: none;
}

@mixin link {
    color: white;
}

%background {
    background-image: $header-image;
    background-position-y: -310px;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    margin: 0;
    background-color: map-get($colors, "main-back");
}
.header-wrap {
    padding-left: 120px;
    font-family: 'Source Sans Pro', sans-serif;
    @extend %background;
    border-radius: 0 0 40% 0;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    .landing-logo {
        font-family: $custom-font;
        color: map-get($colors, "header");
        display: flex;
        align-items: center;
        img {
            display: block;
            width: 25px;
        }
        p {
            margin-left: 10px;
            font-weight: bold;
            display: inline;
            font-size: 11px;
            span {
                display: block;
                font-weight: normal;
                font-size: 6px;
                text-align: center;
            }
        }
    }
    .header_heading:before {
        float: right;
        width: calc(100% - 10em);
        height: 1em;
        content: '';
    }
    .header_heading {
        z-index: 1;
        color: map-get($colors, "header");
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 20px;
        position: relative;
        &:after {
            position: relative;
            display: inline-block;
            background-color: map-get($colors, "mark");
            content: "";
            width: 126px;
            height: 20px;
            margin-bottom: -4px;
            margin-left: -207px;
            z-index: -1;
        }
    }

    .header_text {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: normal;
        color: map-get($colors, "header");
        white-space: pre-wrap;
        font-size: 10px;
        margin-top: 0;
        margin-bottom: 30px;
        margin-left: -22px;
    }
    div:last-child {
        padding-bottom: 100px;
        a {
            margin-left: 120px;
        }
        a:link {
            @include link;
        }
        button {
            @include button;
        }
    }
}

.section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .section_text {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: normal;
        font-size: 30px;
        color: map-get($colors, "header");
        z-index: 1;
        &:before {
            position: absolute;
            display: inline-block;
            background-color: map-get($colors, "mark");
            content: "";
            width: 129px;
            height: 31px;
            margin-left: 153px;
            z-index: -1;
        }
    }
    .section_card {
        background-color: map-get($colors, "second-back");
        margin-bottom: 20px;
        color: white;
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 10px;
        width: 900px;
        height: 280px;
        .section_card_img {
            align-self: center;
            margin-left: -40px;
            border-radius: 3px;
            height: 250px;
            object-fit: contain;
        }
        .section_card_right_container {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            color: ghostwhite;
            .section_card_heading {
                display: flex;
                justify-content: center;
                font-weight: bold;
                font-size: 20px;
            }
            .section_card_text {
                font-family: $custom-font;
                display: block;
                width: 330px;
            }
            a:link {
                display: block;
                @include link;
            }
            p, a {
                display: block;
            }
        }
    }
    .section_banner {
        background: $banner-gradient;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 1150px;
        height: 150px;
        z-index: 1;
        color: map-get($colors, "header");
        margin-bottom: -80px;

        .section_banner_text_wrap {
            padding-bottom: 40px;
            .section_banner_heading{
                font-weight: 700;
                font-size: 30px;
                font-family: 'Hind', sans-serif;
                &:before {
                    position: absolute;
                    display: inline-block;
                    background-color: map-get($colors, "mark");
                    content: "";
                    width: 64px;
                    height: 40px;
                    margin-top: -7px;
                    margin-left: 125px;
                    z-index: -1;
                }
            }
            .section_banner_text {
                color: white;
                font-family: $custom-font;
            }
        }

        .section_banner_button {
            @include button;
        }
    }
}

.footer-wrap {
    font-family: $custom-font;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: map-get($colors, "second-back");
    color: #C0C3CE;
    z-index: 0;
    padding-top: 100px;
    width: 100%;
    .footer_logo {
        p {
            display: inline-block;
            font-weight: bold;
            font-size: 30px;
            span {
                display: block;
                margin-top: 5px;
                font-weight: normal;
                font-size: 10px;
                text-align: center;
            }
        }
    }
    .footer_text {
        width: 300px;
    }
}