$custom-font: 'Source Sans Pro', sans-serif;
$header-image: url("../img/m-h-day.jpg");
$banner-gradient: linear-gradient(90deg, rgba(101,149,17,1) 44%, rgba(36,86,210,1) 100%);
$colors: ("header": #2C2F3C,
          "button": #699900,
          "main-back": #FFFFFF,
          "second-back": #21232E,
          "mark": #14A0C7);

