$custom-font: 'Fresca', sans-serif;
$header-image: url("../img/m-h-night.jpg");
$banner-gradient: linear-gradient(90deg, rgba(222,164,6,1) 44%, rgba(150,50,79,1) 100%);
$colors: ("header": #FFFFFF,
          "button": #E3AC00,
          "main-back": #21232E,
          "second-back": #3B3F50,
          "mark": #FF4E33);
