body {
  margin: 0;
}

#root {
  display: flex;
}

.right-section {
  height: 100%;
  width: 50%;
}


.left-section {
  height: 100%;
  border-right: 2px solid black;
  width: 50%;
}

.book-list {
  list-style-type: none;
  margin: 0;
}

.book-list li {
  border-bottom: 1px solid black;
  padding: 10px 0;
}

.book-list li button {
  width: 100%;
  height: 35px;
}

.book-list li:hover {
  background-color: antiquewhite;
}

.book-list p {
  margin: 0;
}

.book-list img {
  width: 20%;
}

button {
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

.add-book {
  width: 100%;
  height: 50px;
}

#addDiv {
  display: flex;
  flex-direction: column;
}